# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace & dependencies
vendor/
bin/
pkg/

# Git & editor configs
.git/
.gitignore
.vscode/
.idea/
*.swp

# Docker configs (evita copiar o Dockerfile para dentro do container, se não precisar)
Dockerfile
.dockerignore

# Logs
*.log

# Cache
**/__pycache__/
**/*.pyc
