# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Diretórios e arquivos de build
/bin/
/build/
/dist/

# Diretório de dependências do Go (usado no Go antigo)
vendor/

# Cache do módulo Go
/go.sum
/go.mod~

# IDEs
.vscode/
.idea/
*.swp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Test coverage
coverage.out

# Logs
*.log

.env
uploads/